.price {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #1d1f22;
  font-style: normal;
  line-height: 160%;
}
.price_normal {
  font-weight: 500;
  font-size: 18px;
}
.price_bold {
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
}
.price_condensed {
  font-weight: 500;
  font-size: 16px;
}
.price_uncondensed {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}
.attribute__name_normal {
  margin: 0 0 8px 0;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #1d1f22;
}
.attribute__btn-wrapper_text_normal {
  display: grid;
  grid-column-gap: 12px;
}
.attribute__btn-wrapper_swatch_normal {
  display: grid;
  grid-column-gap: 8px;
}
.attribute__btn_text_normal {
  display: flex;
  width: 63px;
  height: 45px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #1d1f22;
  align-items: center;
  justify-content: center;
  border: 1px solid #1d1f22;
  cursor: pointer;
}
.attribute__btn_swatch_normal {
  width: 32px;
  height: 32px;
  border: 1px solid white;
  cursor: pointer;
}
.attribute__name_condensed {
  margin: 0 0 8px 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #1d1f22;
}
.attribute__btn-wrapper_text_condensed {
  display: grid;
  grid-column-gap: 8px;
  margin-bottom: 8px;
}
.attribute__btn-wrapper_swatch_condensed {
  display: grid;
  grid-column-gap: 8px;
  margin-bottom: 8px;
}
.attribute__btn_text_condensed {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #1d1f22;
  border: 1px solid #1d1f22;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  min-width: 24px;
  width: max-content;
}
.attribute__btn_swatch_condensed {
  height: 16px;
  min-width: 16px;
}
.attribute__name_uncondensed {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #1d1f22;
  margin-bottom: 7px;
  text-transform: uppercase;
}
.attribute__btn-wrapper_text_uncondensed {
  display: grid;
  grid-column-gap: 8px;
}
.attribute__btn-wrapper_swatch_uncondensed {
  display: grid;
  grid-column-gap: 8px;
}
.attribute__btn_text_uncondensed {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.05em;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1d1f22;
  width: 63px;
  height: 45px;
}
.attribute__btn_swatch_uncondensed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}
.attribute__btn_text_active {
  background: #1d1f22;
  color: #ffffff;
}
.attribute__btn_swatch_active {
  outline: 2px solid #5ece7b;
}
.quantity_condensed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 190px;
}
.quantity__counter_condensed {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
}
.quantity__btn-plus_condensed {
  cursor: pointer;
  border: 1px solid #1d1f22;
  width: 24px;
  height: 24px;
  background: url(../assets/plus-condensed.svg) no-repeat center;
}
.quantity__btn-minus_condensed {
  cursor: pointer;
  padding: 0;
  border: 1px solid #1d1f22;
  width: 24px;
  height: 24px;
  background: url(../assets/minus-condensed.svg) no-repeat center;
}
.quantity_uncondensed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45px;
  height: 288px;
}
.quantity__counter_uncondensed {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #1d1f22;
}
.quantity__btn-plus_uncondensed {
  cursor: pointer;
  border: 1px solid #1d1f22;
  width: 45px;
  height: 45px;
  background: url(../assets/plus-uncondensed.svg) no-repeat center;
}
.quantity__btn-minus_uncondensed {
  cursor: pointer;
  padding: 0;
  border: 1px solid #1d1f22;
  width: 45px;
  height: 45px;
  background: url(../assets/minus-uncondensed.svg) no-repeat center;
}

